@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");




body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(1, 93, 146) 0%, rgb(5, 148, 231) 35%, rgb(4, 138, 165) 100%);
   text-align: center;

    
}
h1{
    text-align:center ;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    
    
}

 #form{
    
    max-width: 400px;
    margin: 100px auto;
    padding: 10px 20px;
    background: #d0f4fd;
    border-radius: 8px;
   
    text-align: center;
    
    
}
.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
} 

.color{
     color: red;
}
.form-1{
    padding: 3px;
    color: black;
    text-transform: capitalize;
    text-align: justify;
   
}
